
<div class="col-sm-2 col-lg-4"></div>
<div ng-controller="DetailCtrl as ctrl" class="col-sm-8 col-lg-4 update-page">
    <h4>Edit Book</h4>
    <form name="updateBookForm" ng-submit="updateBookForm.$valid && ctrl.update()" novalidate="">
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" class="form-control" name="title"
                   type="text" required ng-model="ctrl.book.title"/>
            <div class="validation" data-ng-show="updateBookForm.title.$touched || updateBookForm.$submitted">
                <div data-ng-show="registrationForm.title.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Title is mandatory.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="lastname">Author Lastname:</label>
            <input id="lastname" class="form-control" name="author_lastname"
                   type="text" required ng-model="ctrl.book.author_lastname"/>
            <div class="validation" data-ng-show="updateBookForm.title.$touched || updateBookForm.$submitted">
                <div data-ng-show="updateBookForm.author_lastname.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Lastname is mandatory.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="firstname">Title</label>
            <input id="firstname" class="form-control" name="author_lastname"
                   type="text" required ng-model="ctrl.book.author_firstname"/>
            <div class="validation" data-ng-show="updateBookForm.title.$touched || updateBookForm.$submitted">
                <div data-ng-show="updateBookForm.author_firstname.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Lastname is mandatory.
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 10px">
            <img src= "/images/no_book_cover.jpg" width="75px" height="100px">
        </div>

        <br>
        <div class="form-group">
            <div class="form-group" style="margin-bottom: 10px">
                <button type="submit"  class="btn btn-success"
                        ng-click="ctrl.update(ctrl.book.id)">Update
                </button>
                <a class="btn btn-success" ui-sref="list">Cancel</a>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<div class="form-group" style="margin-bottom: 10px">-->
                <!--<button type="submit"  class="btn btn-success"-->
                        <!--ng-click="ctrl.cancel()">Cancel-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->

    </form>
</div>
