<div class="col-sm-2 col-lg-4"></div>
<div ng-controller="ListCtrl as ctrl" class="col-sm-8 col-lg-4 update-page">
    <h4>Please enter title and name to get listing</h4>
    <br>
    <form name="queryForm" novalidate  ng-submit="ctrl.list()">
        <label for="title">Book Title:</label>
        <input id="title" type=”text” class="form-control" required ng-model="ctrl.search.title_like">
        <label for="author">Author name/keyword:</label>
        <input id="author" type=”text” class="form-control" required ng-model="ctrl.search.author_like">
        <br>
        <button type="submit"  class="btn btn-success" ng-disabled="queryForm.$invalid">Search</button>

    </form>
    <div ng-show="ctrl.books">
        <br><br>
        <h3>List of requested books:</h3>
        <br>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="b in ctrl.books">
                <button type="button" class="btn btn-success"
                        ng-click="ctrl.getDetails(b.id)">Edit
                </button>
                <div  style="margin-bottom: 10px">
                    <img src="/images/no_book_cover.jpg" width="75px" height="100px">


                {{ b.title }} - {{b.author_firstname}}  {{b.author_lastname}}
                </div>
            </li>
        </ul>
    </div>

    <!--<table class="table table-striped">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th>Action</th>-->
    <!--<th>Title</th>-->
    <!--&lt;!&ndash;<th>Cover Page</th>&ndash;&gt;-->
    <!--<th>Author First Name</th>-->
    <!--<th>Author Last Name</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr  ng-repeat="b in ctrl.books">-->
    <!--<td width="10%">-->
    <!--<button type="button" class="list-group-item"-->
    <!--ng-click="ctrl.getDetails(b.book_id)">Edit-->
    <!--</button>-->
    <!--</td>-->
    <!--<td>{{ ctrl.books.title}}</td>-->
    <!--&lt;!&ndash;<td>Image</td>&ndash;&gt;-->
    <!--<td>{{ ctrl.books.first_name }}</td>-->
    <!--<td>{{ ctrl.books.last_name }}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->

</div>
